.nav a {
    color:currentColor;
    font-size: 11px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    position: absolute;
}

.nav{
    width:auto;
    height: auto;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 7px;
}


.nav li{
    display: inline;
    
}

.nav img{
    text-align: left;
    height: auto;
    display: inline;
}


.jumbotron{
    height: 500px;
    background-image:url(CSB-view-from%20north.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.jumbotron .container h1{
    color:white;
    font-family:  'Open Sans', sans-serif;
    font-size: 56px;
    font-weight: normal;
    padding-top: 50px;
    text-align: center;
    
    
}

.jumbotron h2{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    
}

.jumbotron .container{
    text-align: center;
    
}

.about{
    padding-bottom: 100px;
    
}

#footer{
    //height: 20px;
    width: auto;
    height: auto;
    text-align: center;
    //bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    
}

#footer p{
    display: inline;
}

#footer i{
    padding-left: 10px;
}

//#footer .container{
  //  border-top:1px solid #dddddd
//}

.control-group{
    text-align: left;
    padding-left: 100px;
       
}
