.nav a {
    color:currentColor;
    font-size: 11px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    position: absolute;
}

.nav{
    width:auto;
    height: auto;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 7px;
}


.nav li{
    display: inline;
    
}

.nav img{
    text-align: left;
    height: auto;
    display: inline;
}



.jumbotron{
    height: 800px;
    background-image:url(motherboard.jpg); z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




.about{
    padding-bottom: 100px;
    
}



.learn-more h3{
    display: inline;
}

.learn-more{
    background-color: white;   
}

.small-contact{
    height: 20px;
    text-align: center;
    bottom: auto;
    padding-top: 15px;
    
}

.small-contact p{
    display: inline;
}

.small-contact i{
    padding-left: 10px;
}

.control-group{
    text-align: left;
    padding-left: 100px;
       
}
